

/* Hide current market data in header. */
header aza-header {
  display: none !important;
}

/* Hide menu & Orders & Search in header. */
header aza-menu {
  display: none !important;
}

/* Hide settings cog on front page. */
aza-home-settings {
  display: none !important;
}

/* Hide things such as 'Just nu'. */
aza-home-greeting {
  display: none !important;
}

/* Hide secondary content to the right such as "Aktuellt från oss", "Börsen idag" etc. */
.content-secondary {
  display: none !important;
}

/* Hide "Nyheter om dina innehav". */
aza-home-news-feed {
  display: none !important;
}

/* Hide "Senaste veckan". */
aza-home-latest-feed {
  display: none !important;
}

/* Hide disclaimer about "Om att investera i värdepapper" & "Om investerings­rekommendationer". */
aza-disclaimer {
  display: none !important;
}

/* Hide footer with links to Avanza's social media and other useless stuff. */
aza-footer {
  display: none !important;
}

/* All the things above are put in the main content on smaller screens so hide it. */
@media screen and (max-width: 992px) {
  
  .content-main {
    display: none !important;
  }
}