/* Hide settings cog on front page */
aza-home-settings {
  display: none !important;
}

/* Hide "Nyheter om dina innehav" */
aza-home-news-feed {
  display: none !important;
}

/* Hide "Senaste veckan" */
aza-home-latest-feed {
  display: none !important;
}

/* Hide disclaimer about "Om att investera i värdepapper" & "Om investerings­rekommendationer" */
aza-disclaimer {
  display: none !important;
}

/* Hide footer with links to Avanza's social media and other useless stuff */
aza-footer {
  display: none !important;
}